<head>
  <title>autoform-materialize-playground</title>
</head>
<body>
  <div class="container">
    {{#DynaViewLauncher dvTemplate="insertExample"}}
      <a href="#!" class="btn js-dynaview-launcher">Insert Example</a>
    {{/DynaViewLauncher}}

    {{#DynaViewLauncher dvTemplate="autoformExample"}}
      <a href="#!" class="btn js-dynaview-launcher">Autoform Example</a>
    {{/DynaViewLauncher}}

    {{#DynaViewLauncher dvTemplate="modalExample"}}
      <a href="#!" class="btn js-dynaview-launcher">Insert Modal Example</a>
    {{/DynaViewLauncher}}

    {{>DynaView}}

    <div id="modalContainer"></div>
  </div>
</body>
