<head>
  <title>autoform-materialize-playground</title>
</head>
<body>
  <div class="container">

    <div class="row">
      {{#DynaViewLauncher dvTemplate="insertExample"}}
        <a href="#!" class="btn js-dynaview-launcher">Insert</a>
      {{/DynaViewLauncher}}

      {{#DynaViewLauncher dvTemplate="autoformExample"}}
        <a href="#!" class="btn js-dynaview-launcher">Autoform</a>
      {{/DynaViewLauncher}}

      {{#DynaViewLauncher dvTemplate="modalExample"}}
        <a href="#!" class="btn js-dynaview-launcher">Modal</a>
      {{/DynaViewLauncher}}

      {{#DynaViewLauncher dvTemplate="validationExample"}}
        <a href="#!" class="btn js-dynaview-launcher">Validation</a>
      {{/DynaViewLauncher}}

      {{#DynaViewLauncher dvTemplate="autoCompleteExample"}}
        <a href="#!" class="btn js-dynaview-launcher">Auto Complete</a>
      {{/DynaViewLauncher}}
    </div>

    {{>DynaView}}

    <div id="modalContainer"></div>
  </div>
</body>
