<head>
  <title>autoform-materialize-playground</title>
</head>
<body>
  <div class="container">

    <div class="row">
      <div class="col l3 m4 s6">
        {{#DynaViewLauncher dvTemplate="insertExample"}}
          <a href="#!" class="btn js-dynaview-launcher">Insert</a>
        {{/DynaViewLauncher}}
      </div>
      <div class="col l3 m4 s6">
        {{#DynaViewLauncher dvTemplate="autoformExample"}}
          <a href="#!" class="btn js-dynaview-launcher">Autoform</a>
        {{/DynaViewLauncher}}
      </div>
      <div class="col l3 m4 s6">
        {{#DynaViewLauncher dvTemplate="modalExample"}}
          <a href="#!" class="btn js-dynaview-launcher">Modal</a>
        {{/DynaViewLauncher}}
      </div>
      <div class="col l3 m4 s6">
        {{#DynaViewLauncher dvTemplate="validationExample"}}
          <a href="#!" class="btn js-dynaview-launcher">Validation</a>
        {{/DynaViewLauncher}}
      </div>
    </div>

    {{>DynaView}}

    <div id="modalContainer"></div>
  </div>
</body>
